/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Raleway', sans-serif; */

/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* белый цвет текста #ffffff */
/* черный цвет лого #000000 */
/* основной цвет фона #ffffff */
/* вторичный цвет фона #2F303A */
/* третий цвет фона #f5f4fa */
/* цвет-акцент #2196F3 */
/* цвет рамки хедера #ececec; */
/* цвет рамки карточки в портфолио #eeeeee */
/* linear-gradient rgba(47, 48, 58, 0.4) */
/* цвет иконок #afb1b8 */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --white-text-color: #ffffff;
  --logo-black-color: #000000;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --accent-color: #2196f3;
  --header-bdr-color: #ececec;
  --card-bdr-color: #eeeeee;
  --grad-start-color: rgba(47, 48, 58, 0.4);
  --grad-end-color: rgba(47, 48, 58, 0.4);
  --icon-color: #afb1b8;
}

/* глобальные стили */
body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  display: block;
  color: inherit;
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 94px 15px;
  /* outline: 1px solid red; */
}
.section-title {
  margin-bottom: 50px;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.sec-subtitle {
  margin-bottom: 10px;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
h1,
h2,
h3,
p {
  margin: 0;
}
/* скрытый заголовок */
.invisible {
  margin: 0px;
  height: 0px;
  color: transparent;
}
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*  */ /*    */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*  */ /*    */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

/* HEADER */
.header .container {
  padding-top: 0;
  padding-bottom: 0;

  border-bottom: 1px solid var(--header-bdr-color);
}
.flex-header {
  display: flex;
  align-items: center;
}
.flex-nav {
  display: flex;
  align-items: center;
}

/* LOGO */
.logo {
  display: block;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-color);
}
.flex-nav .logo {
  margin-right: 90px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo-black {
  color: var(--logo-black-color);
}
.logo-white {
  color: var(--white-text-color);
}
/* NAVIGATION */
.nav {
  display: flex;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  /* outline: 1px solid navy; */
}
.nav-link.current::before {
  position: absolute;
  left: 0;
  bottom: 0;

  display: inline-block;
  width: 100%;
  height: 4px;
  content: '';

  border-radius: 2px;
  background-color: var(--accent-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
/* CONTACTS */
.contact {
  display: flex;
  margin-left: auto;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}
.contact-link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

/*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*  */ /*    */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*  */ /*    */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

/* MAIN */

/* Section HERO */
.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  text-align: center;

  background-image: linear-gradient(
      var(--grad-start-color),
      var(--grad-end-color)
    ),
    url('../images/hero.jpg');
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero .container {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  margin-bottom: 30px;

  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-order {
  padding: 0px 32px;
  --h: 50px;
  min-width: 200px;
  height: var(--h);

  color: var(--white-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: var(--h);
  letter-spacing: 0.06em;

  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
}
.button-order:hover,
.button-order:focus {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.button-order:active {
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3);
}

/* Section Features */
.icon-frame {
  display: inline-flex;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--third-bg-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}
.feature-icon {
  margin: auto;
  width: 70px;
  height: 70px;
}
.feature.list {
  display: flex;
  flex-wrap: wrap;
}
.feature-item {
  flex-basis: calc((100% - 90px) / 4);
  /* outline: 1px solid navy; */
}
.feature-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

/* Section Occupations */
.occupation {
  display: flex;
  flex-wrap: wrap;
}
.occupation-item {
  flex-basis: calc((100% - 60px) / 3);
}
.occupation-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.occupation img {
  display: block;
}

/* Section Our Team */
.our-team {
  background: var(--third-bg-color);
}
.team {
  display: flex;
  flex-wrap: wrap;
}
.team-item {
  flex-basis: calc((100% - 90px) / 4);
}
.team-item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.team-card {
  padding-bottom: 30px;

  line-height: 1.19;
  text-align: center;

  /* outline: 1px solid navy; */
  background: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-card img {
  display: block;
  margin-bottom: 30px;
}
.card-title {
  margin-bottom: 10px;

  color: var(--secondary-text-color);
  font-size: 16px;
  font-weight: 500;
}
.card-role {
  margin-bottom: 16px;

  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 400;
}
/* social links */
.links.list {
  display: flex;
  justify-content: center;
  /* outline: 1px solid navy; */
}
.links-item {
  display: block;
  width: 44px;
  height: 44px;

  /* outline: 1px solid navy; */
  border-radius: 50%;
  overflow: hidden;
}
.links-item:not(:last-child) {
  margin-right: 10px;
}
.link {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.link-icon {
  margin: auto;
  width: 20px;
  height: 20px;

  fill: var(--icon-color);
}
.link:hover,
.link:focus {
  background-color: var(--accent-color);
}
.link:hover .link-icon,
.link:focus .link-icon {
  fill: var(--primary-bg-color);
}

/* Section Clients */
.clients.list {
  display: flex;
  justify-content: center;
}
.client-item {
  display: block;
  width: 170px;
  height: 92px;
}
.client-item:not(:last-child) {
  margin-right: 30px;
}
.client-link {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100%;

  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
}
.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.client-icon {
  margin: auto;
  width: 106px;
  height: 60px;

  fill: currentColor;
}

/*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*  */ /*    */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*  */ /*    */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

/* FOOTER */
.footer {
  background-color: #2f303a;
}
.footer .container {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .logo {
  margin-bottom: 20px;
}
/* Address */
.contact-us {
  margin-right: 70px;
  /* outline: 1px solid #ffffff; */
}
.address {
  font-style: inherit;
}
.location {
  display: block;
  margin-bottom: 9px;
  color: var(--white-text-color);
}
.mail,
.tel {
  display: block;
  color: rgba(255, 255, 255, 0.6);
}
.mail {
  margin-bottom: 9px;
}
/* Join-us */
.join-us {
  margin-right: auto;

  color: var(--white-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  /* outline: 1px solid #ffffff; */
}
.call-to-join {
  margin-bottom: 20px;
}
.join-us .link {
  background-color: rgba(255, 255, 255, 0.1);
}
.join-us .link:hover,
.join-us .link:focus {
  background-color: var(--accent-color);
}
.join-us .link-icon {
  fill: var(--white-text-color);
}
/*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*  */ /*    */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*  */ /*    */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */
/*  */ /*    */ /*  */ /*  */ /*  */ /*    */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

/* PORTFOLIO.HTML */

/* Radio-buttons */
.filter-panel {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.filter-panel li:not(:last-child) {
  margin-right: 8px;
}
.filter-btn {
  --h: 38px;
  min-width: 73px;
  height: var(--h);
  padding: 0px 22px;

  color: var(--secondary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: var(--h);
  letter-spacing: inherit;
  text-align: center;

  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--third-bg-color);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Project-cards */
.project {
  display: flex;
  flex-wrap: wrap;
}
.proj-item {
  margin-bottom: 30px;
  padding-bottom: 20px;
  flex-basis: calc((100% - 60px) / 3);
  border-bottom: 1px solid var(--card-bdr-color);
}
.proj-item:hover,
.proj-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  /* outline: 1px solid navy; */
}
.proj-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.proj-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.proj-item img {
  display: block;
  margin-bottom: 20px;
  /* outline: 1px solid navy; */
}
.text-wrapper {
  padding-left: 24px;
  padding-right: 24px;
}
.proj-title {
  margin-bottom: 4px;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.proj-category {
  font-size: 16px;
  line-height: 1.87;
}
