.join-us {
  margin-right: auto;

  color: $whiteTextColor;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  /* outline: 1px solid #ffffff; */
}

.call-to-join {
  margin-bottom: 20px;
}
